{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="{% static '/materialize/css/materialize.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre mim</title>
    <link rel="stylesheet" href="{% static '/style/style.css'  %}">
    <link rel="stylesheet" href="{% static '/style/media-queries.css' %}">
</head>
<body>

    <header><h1>Sobre Mim</h1></header>
    <nav>
        <a href="{% url 'index' %}">Home</a>
        <a href="{% url 'projetos' %}">Projetos</a>
    </nav>
    
    <main>

        <h1>Sobre Mim 👨‍💻</h1>
        <p>
            Oi, eu sou o Karlos! Tenho 16 anos. Atualmente, estou estudando o desenvolvimento web usando Django e sempre estou em busca de novos desafios para aprimorar minhas habilidades. Adoro criar e explorar o mundo digital, e aqui você vai encontrar um pouco da minha trajetória e dos projetos que desenvolvi.
        </p>

        <h1>Redes:</h1>
        <p id="frase"> <a href="https://github.com/Kar437" target="_blank"><img src="imagens/github (1).png" alt="logo github"></a></p>
        <p id="frase"> <a href="https://www.instagram.com/km.b_7d/" target="_blank"><img src="imagens/instagram (1).png" alt="logo instagram"></a></p>
    </main>

    <footer>Desenvolvido por <a href="https://github.com/Kar437">Kar437</a></footer>
    <script src="materialize/js/materialize.js"></script>
</body>
</html>