{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>

    <link rel="stylesheet" href="{% static '/materialize/css/materialize.css' %}">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invasão Espacial</title>
    <link rel="stylesheet" href="{% static '/style/style.css' %}">
    <link rel="stylesheet" href="{% static '/style/media-queries.css' %}">
</head>
<body>

    <header>
        <h1>Invasão Espacial</h1>
    </header>

    <nav>
        <a href="{% url 'index' %}">Home</a>
        <a href="{% url 'sobre' %}">Sobre</a>
        <a href="{% url 'projetos' %}">Projetos</a>
    </nav>

    <main>
        <h1>Visão Geral:</h1>
        <p><strong>Invasão Espacial</strong> é um jogo inspirado no Space Invarders, desenvolvido em Python com a biblioteca pygame. Nele, você assume o papel de um destemido piloto espacial, encarregado de proteger a galáxia contra uma invasão de vírus alieníginas.</p>

        <div class="container">
            <img src="../imagens/tela_small.jpg" alt="invasão espacial">
        </div>

        <h1>Objetivo:</h1>
        <p>Seu objetivo é simples: eliminar a maior quantidade de vírus possivel (não deixe que eles encostem em você). Power-ups surgiram durante a batalha para ajudar você (ou não).</p>

        <h1>Controles:</h1>
        <p>
            <ul class="lista">
                <li><strong>Setas: </strong>Movimentam a nave;</li>
                <li><strong>Barra de espaço: </strong>Dispara tiros;</li>
                <li><strong>ESC: </strong>Pausa o jogo.</li>
            </ul>
    </p>

    <p>Acesse o código fonte pelo repositório público no GitHub, ou baixe o arquivo zip do jogo</p>
    <p>Apos a instalação, descompacte o arquivo .zip e execute o arquivo game.exe
        O seu antivírus pode não permiter que abra o arquivo (isso acontece pois se trata de uma extensão .exe, que é muitas vezes utilizado para distribuição de progamas falsos que contém malware), não se preucupe, <strong>este arquivo não contém vírus</strong>. Caso isso aconteça, pressione em executar mesmo assim.</p>

        <div class="container">
            <a class="waves-effect waves-light btn-large  cyan darken-4" href="invasao-espacial.zip">Baixe o jogo</a>
        </div>
            
        <div class="container">
            <a class="waves-effect waves-light btn-large  cyan darken-4" href="https://github.com/Kar437/Invasao-Espacial" target="_blank">Código Fonte</a>
        </div>

    <p><strong>OBS:</strong> O arquivo só fuciona em sistemas Windows, para jogar em outros sistemas operacionais, execute o código disponivel no GitHub.</p>


        
    </main>

    <footer>Desenvolvido por <a href="https://github.com/Kar437" target="_blank">Kar437</a></footer>
    
    <script src="../materialize/js/materialize.js"></script>
</body>
</html>