{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>

    <link rel="stylesheet" href="{% static '/materialize/css/materialize.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/style/style.css' %}">
    <link rel="stylesheet" href="{% static '/style/media-queries.css' %}">
    <title>Portfólio</title>
</head>
<body>

    <header>
        <h1>Portfólio</h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="todos.html">Projetos</a>
            <a href="../sobre.html">Sobre</a></nav>
    </header>

    <main>
        <h1>Visão Geral:</h1>

    <p>
            O Site Portfólio é um projeto pessoal que eu desenvolvi para mostrar os meus projetos de programação, feitos com diferentes linguagens e tecnologias. O site foi feito com HTML5 e CSS3, usando um design simples e responsivo, que se adapta a diferentes tamanhos de tela e dispositivos.
    </p>

    <p>O código-fonte do site está disponível no meu repositório público do GitHub:</p>

    <div class="container">
        <a class="waves-effect waves-light btn-large  cyan darken-4" href="https://github.com/Kar437/Site" target="_blank">Código Fonte</a>
        </div>
        
    </main>
    
    <footer>  
        <p>Desenvolvido por <a href="https://github.com/Kar437" target="_blank">Kar437</a></p>
    </footer>

    <script src="../materialize/js/materialize.js"></script>
</body>
</html>